body {
  background-color: #000;
  font-family: Verdana, sans-serif;
  text-align: center;
}
.title {
  font-weight: normal;
  font-size: 50px;
  color: white;
}
.link {
  color: Aquamarine;
  font-size: 16px;
}
.heading {
  font-weight: 300;
  font-size: 42px;
  color: white;
}
.main {
  font-size: 21px;
  color: gray;
}
footer h3 {
  color: gray;
}
